<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Myself</vendor>
  <vendor_url>https://github.com/markM2864/python-deb.git</vendor_url>
  <icon_name>examplepackage</icon_name>
  <action id="local.examplepackage">
    <description gettext-domain="examplepackage">Run examplepackage</description>
    <message gettext-domain="examplepackage">Authentication required to run this example"</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/examplepackage</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>